.author {
    color: #C39F59;
}

header a.author:link {
    color: #C39F59;
}

header a.author:visited {
    color: #C39F59;
}

header a.author:hover {
    color: #C39F59;
}

header a.author:active {
    color: #C39F59;
}

.date {
    color: #869D38;
}

body {
    background-color: #e6ebf1;
    color: #2d2d2d;
}

a:link {
    color: #777;
}

a:hover {
    color: #2d2d2d;
}

#searchResults {
    position: initial;
    background-color: initial;  
}

header .avatarMask {
	clip-path:circle(80px at center);
	-webkit-clip-path:circle(80px at center)
}

header .avatar {
	height: 160px;
}

header .avatar img {
	width: 160px;
}